@font-face {
    font-family: 'JetBrainsMono-Regular';
    src: url('https://cdn.coderjiang.com/common/font/jet-brains-mono/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.coderjiang.com/common/font/jet-brains-mono/woff/JetBrainsMono-Regular.woff') format('woff')
}

@font-face {
    font-family: 'AlibabaPuHuiTi-3-55-Regular';
    src: url('https://cdn.coderjiang.com/common/font/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.woff2') format('woff2'),
    url('https://cdn.coderjiang.com/common/font/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.woff') format('woff')
}


body {
    margin: 0;
    padding: 0;
    background-color: #0A2D4D;
}